In [6]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [8]:
df=pd.read_csv("C:\\Users\\GPT BANTWAL\\AI_Lab\\Result.csv")
df

       Name   m1   m2   m3  Result
0  Swasthik   89   99   79     267
1    Ronith   88   95   87     270
2     Pawan   99  100  100     299
3   Nithesh   97   58   79     234
4  Preetham  100   69   75     244

In [9]:
df['Result'].unique()

array([267, 270, 299, 234, 244], dtype=int64)

In [10]:
pd.get_dummies(df['Result'])

   234  244  267  270  299
0    0    0    1    0    0
1    0    0    0    1    0
2    0    0    0    0    1
3    1    0    0    0    0
4    0    1    0    0    0