In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.DataFrame({'Temperture':['Hot','Cold','Warm','Cold']})
df

  Temperture
0        Hot
1       Cold
2       Warm
3       Cold

### Create Dummy variable in python with pandasÂ¶

In [3]:
pd.get_dummies(df)

   Temperture_Cold  Temperture_Hot  Temperture_Warm
0                0               1                0
1                1               0                0
2                0               0                1
3                1               0                0