# Create a new column in pandas DataFrame based on the existing column

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'Data':['10/2/2011','11/2/2011','12/2/2011','13/2/2011'],
                  'Event':['Music','Poetry','Theatre','Comrdy'],
                  'Cost':[10000,5000,15000,2000]})
print(df)

        Data    Event   Cost
0  10/2/2011    Music  10000
1  11/2/2011   Poetry   5000
2  12/2/2011  Theatre  15000
3  13/2/2011   Comrdy   2000

In [3]:
df['Discount_Price'] = df.apply(lambda a:a.Cost - (a.Cost * 0.1),axis = 1)
df

        Data    Event   Cost  Discount_Price
0  10/2/2011    Music  10000          9000.0
1  11/2/2011   Poetry   5000          4500.0
2  12/2/2011  Theatre  15000         13500.0
3  13/2/2011   Comrdy   2000          1800.0